#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 1px solid #61122f;
  }

.navbar-brand{
padding-top: 25px;
height: 5%;
}

.navbar-brand h1{
color: #557c3e;
font-size: 1.2em;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 2px;
line-height: .5;
}

.row{
    margin-left: -25px;
    margin-right: -25px;
}

#menue-title{
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 15px;
}

.menu-item-tile{
    margin-bottom: 15px;
}

.menu-item-tile .menu-content{
    background-color: bisque;
    padding: 0 15px 5px;
}


.menu-item-tile .text-center{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -1.5px;
    
}

.menu-item-tile span{
    margin: 0 auto;  
}

#nav-list a{
    font-size: 1.3em;
    color: #61122f;
    text-align: center;
}